<div class="input-group col-md-5 pl-0 my-lg-4 my-2">
  <span class="input-group-addon">Filter by name</span>
  <input [(ngModel)]="filterProduct" type="text" class="form-control"/>
</div>
<div>
  <table class="table">
    <thead>
	    <th>Name</th>
      <th>Quantity</th>
      <th>Add / Remove</th>
	    <th>Sell</th>
    </thead>
    <tbody>
	    <tr *ngFor="let product of products | filter: 'name' : filterProduct">
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <button 
            (click)="addQuantity(product)" 
            class="btn btn-primary"> + 
          </button>
          <button 
            *ngIf="product.quantity >= 1" 
            (click)="removeQuantity(product)" 
            class="btn btn-primary"> - 
          </button>
          <button 
            *ngIf="product.quantity == 0" 
            class="btn btn-danger"> - 
          </button>
        </td>
        <td>
          <button  
            *ngIf="product.quantity >= 1"
            [routerLink]="['/products', product.id]"
            type="button" class="btn btn-success"> Sell 
          </button>
          <button  
            *ngIf="product.quantity == 0"
            type="button" class="btn btn-danger"> Sell 
          </button>
        </td>
	    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>