<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">STORE</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
       	<a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buyers">Buyers</a>
      </li>
	  </ul>
	</div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>