<div>
  <table class="table">
    <thead>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Email</th>
    </thead>
    <tbody>
	    <tr>
        <td>{{ buyer.firstName }}</td>
        <td>{{ buyer.lastName }}</td>
        <td>{{ buyer.email }}</td>
	    </tr>
    </tbody>
  </table>
  <table class="table">
  	<thead>
  		<th>List of products</th>
  	</thead>
  	<tbody>
  		<tr *ngFor="let product of buyer.products">
  			<td>{{ product.name }}</td>
  		</tr>
  	</tbody>
  </table>
  <button type="submit" routerLink="/buyers" class="btn btn-primary">Go back</button>
</div>