<div>
  <table class="table">
    <thead>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Check latest purchases</th>
	    <th>Delete</th>
    </thead>
    <tbody>
	    <tr *ngFor="let buyer of buyers">
        <td>{{ buyer.firstName }}</td>
        <td>{{ buyer.lastName }}</td>
        <td>
        	<button [routerLink]="['/buyers', buyer.id]" class="btn btn-primary" >Check Purchases</button>
        </td>
        <td>
        	<button (click)="deleteBuyer(buyer)" class="btn btn-danger">Delete</button>
        </td>
	    </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
<hr>
<h3>Add Buyers</h3>
<form (ngSubmit)="addBuyer(newBuyer)">
  <div class="form-group">
	  <label for="firstName">First name</label>
	  <input type="text" [(ngModel)]="newBuyer.firstName" name="firstName" class="form-control"/>
	  
	  <label for="lastName">Last name</label>
	  <input type="text" [(ngModel)]="newBuyer.lastName" name="lastName" class="form-control"/>
	  
	  <label for="email">Email</label>
    <input type="text" [(ngModel)]="newBuyer.email" name="email" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>